server:
  port: ${SERVICE_PORT:8087}

spring:
  application:
    name: notification-service

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://${EUREKA_USER:admin}:${EUREKA_PASS:secret}@localhost:8761/eureka/}
  instance:
    hostname: ${HOSTNAME:localhost}
    prefer-ip-address: false

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always