apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-db
  
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-db
  template:
    metadata:
      labels:
        app: notification-db
    spec:
      containers:
        - name: redis
          image: redis:7
          ports:
            - containerPort: 6379
          volumeMounts:
            - name: data
              mountPath: /data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: notification-db-pvc
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: notification-db-pvc
  
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: Service
metadata:
  name: notification-db
  
spec:
  selector:
    app: notification-db
  ports:
    - port: 6379
      targetPort: 6379
