spring:
  config:
    activate:
      on-profile: dev

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE:http://localhost:8761/eureka/}
  instance:
    hostname: ${EUREKA_INSTANCE_HOSTNAME:${HOSTNAME}}
  server:
    enable-self-preservation: false
    eviction-interval-timer-in-ms: 60000
