apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-service
  
spec:
  replicas: 1
  selector:
    matchLabels:
      app: config-service
  template:
    metadata:
      labels:
        app: config-service
    spec:
      serviceAccountName: config-service-sa
      automountServiceAccountToken: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 10001
        runAsGroup: 10001
        fsGroup: 10001
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: config-service
          image: javixulobo/videoclub-config-service-dev:v0.0.0
          ports:
            - containerPort: 8888