apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: videoclub-dev
nameSuffix: -dev

resources:
  - ../../base
  - namespace.yaml
  - ingress.yaml

patches:
  - target:
      kind: Deployment
      name: config-service
    path: patches/config-service-resources.yaml
  - path: patches/auth-service-resources.yaml
  - path: patches/discovery-service-resources.yaml
  - path: patches/gateway-service-resources.yaml
  - path: patches/catalog-service-overrides.yaml
  - path: patches/customer-service-overrides.yaml
  - path: patches/inventory-service-overrides.yaml
  - path: patches/payment-service-overrides.yaml
  - path: patches/rental-service-overrides.yaml
  - path: patches/notification-service-overrides.yaml
  - path: configmap-patch.yaml
  - path: secrets-patch.yaml

images:
  - name: javixulobo/videoclub-config-service-dev
    newTag: v0.0.1
  - name: javixulobo/videoclub-discovery-service-dev
    newTag: v0.0.1
  - name: javixulobo/videoclub-gateway-service-dev
    newTag: v0.0.1
  - name: javixulobo/videoclub-auth-service-dev
    newTag: v0.0.1
  - name: javixulobo/videoclub-customer-service-dev
    newTag: v0.0.1
  - name: javixulobo/videoclub-catalog-service-dev
    newTag: v0.0.1
  - name: javixulobo/videoclub-rental-service-dev
    newTag: v0.0.1
  - name: javixulobo/videoclub-payment-service-dev
    newTag: v0.0.1
  - name: javixulobo/videoclub-inventory-service-dev
    newTag: v0.0.1
  - name: javixulobo/videoclub-notification-service-dev
    newTag: v0.0.1
